prune sage

include VERSION.txt

include sage/ext/memory.p*                                      # only used by sage.libs.pari

include sage/interfaces/gp.p*

graft sage/libs/pari
include sage/groups/pari_group.p*
include sage/matrix/matrix_*_pari.p*
include sage/rings/finite_rings/*pari*.p*               # needs sage.rings.finite_rings.element_base
include sage/rings/factorint_pari.p*                    # needs sage.rings.integer
include sage/rings/power_series_pari.p*                 # needs sage.rings.power_series_ring_element, sage.rings.polynomial.polynomial_element
include sage/rings/pari_ring.p*
include sage/rings/number_field/totallyreal*.p*

include sage/rings/finite_rings/element_ntl_gf2e.p*  # uses paridecl
include sage/rings/finite_rings/element_givaro.p*    # uses paridecl
include sage/rings/finite_rings/*field_givaro*.p*

#
# padics using PARI.
#
graft sage/rings/padics
graft sage/rings/polynomial/padics
graft sage/rings/valuation
include sage/rings/function_field/valuation*.p*
graft sage/libs/linkages
include sage/rings/tate*.p*
# exclude what is shipped by sagemath-categories
exclude sage/rings/padics/padic_generic.p*
exclude sage/rings/padics/local_generic.p*
exclude sage/rings/padics/local_generic_element.p*
exclude sage/rings/padics/precision_error.p*
exclude sage/rings/padics/misc.p*
# exclude what is shipped by sagemath-ntl
exclude sage/rings/padics/padic_ext_element.p*
exclude sage/rings/padics/pow_computer_ext.p*
exclude sage/rings/padics/padic_ZZ_pX_*.p*

# Parts of quadratic_forms excluded form sagemath-modules;
# lazy-imported and can only be tested with pari present
graft sage/quadratic_forms/genera
include sage/quadratic_forms/quadratic_form__automorphisms.p*
include sage/quadratic_forms/quadratic_form__genus.p*
include sage/quadratic_forms/quadratic_form__local_density_interfaces.p*
include sage/quadratic_forms/quadratic_form__local_normal_form.p*
include sage/quadratic_forms/quadratic_form__local_representation_conditions.p*
include sage/quadratic_forms/quadratic_form__mass*.p*
include sage/quadratic_forms/quadratic_form__siegel_product.p*
include sage/quadratic_forms/qfsolve.p*
include sage/quadratic_forms/special_values.p*

include sage/databases/conway.py

include sage/interfaces/genus2reduction.py

include sage/schemes/elliptic_curves/descent_two_isogeny_pari.pyx  # the pxd is shipped in sagemath-flint

global-exclude *.c
global-exclude *.cpp

include sage/libs/linkages/padics/relaxed/flint_helper.c
include sage/rings/padics/transcendantal.c  # sic

graft sage/ext_data/pari

# Vendored cypari2
graft autogen
graft cypari2
include _custom_build_meta.py

global-exclude all__sagemath*.*
global-include all__sagemath_pari.py

global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.bak
global-exclude *.so
global-exclude *~
prune .tox
prune build
prune dist
