# This "constraints file" can be used for forcing pip
# (and any tools that delegate to pip, such as pypa/build)
# to install the distribution packages included in
# the SageMath monorepository only from their source trees
# in SAGE_ROOT/pkgs/ instead of from PyPI.
#
# Example: Building a sagemath-standard-no-symbolics wheel
#
# [alice@localhost sage]$ ./bootstrap
# [alice@localhost sage]$ ./configure
# [alice@localhost sage]$ export MAKE="make -j16" SAGE_NUM_THREADS=16
# [alice@localhost sage]$ make all-sage-local
# [alice@localhost sage]$ export PIP_CONSTRAINT="$(pwd)/constraints_pkgs.txt"
# [alice@localhost sage]$ ./sage -sh -c 'python3 -m build -v -v pkgs/sagemath-standard-no-symbolics'
#
# Non-example: Installing the built wheel using the same
# constraints file will fail because sagemath-standard is one
# of the distribution packages listed below. It will conflict
# with the built wheel for sagemath-standard!
# Use "pkgs/sagemath-standard/constraints_pkgs.txt" instead.

# Reference on the format:
# https://pip.pypa.io/en/stable/user_guide/#constraints-files
#
passagemath-conf                  @ file://${SAGE_ROOT}/pkgs/sage-conf
passagemath-docbuild              @ file://${SAGE_ROOT}/pkgs/sage-docbuild
passagemath-setup                 @ file://${SAGE_ROOT}/pkgs/sage-setup
passagemath-sws2rst               @ file://${SAGE_ROOT}/pkgs/sage-sws2rst
passagemath-bliss                 @ file://${SAGE_ROOT}/pkgs/sagemath-bliss
passagemath-brial                 @ file://${SAGE_ROOT}/pkgs/sagemath-brial
passagemath-categories            @ file://${SAGE_ROOT}/pkgs/sagemath-categories
passagemath-cddlib                @ file://${SAGE_ROOT}/pkgs/sagemath-cddlib
passagemath-combinat              @ file://${SAGE_ROOT}/pkgs/sagemath-combinat
passagemath-coxeter3              @ file://${SAGE_ROOT}/pkgs/sagemath-coxeter3
passagemath-eclib                 @ file://${SAGE_ROOT}/pkgs/sagemath-eclib
passagemath-environment           @ file://${SAGE_ROOT}/pkgs/sagemath-environment
passagemath-flint                 @ file://${SAGE_ROOT}/pkgs/sagemath-flint
passagemath-frobby                @ file://${SAGE_ROOT}/pkgs/sagemath-frobby
passagemath-gap                   @ file://${SAGE_ROOT}/pkgs/sagemath-gap
passagemath-gfan                  @ file://${SAGE_ROOT}/pkgs/sagemath-gfan
passagemath-giac                  @ file://${SAGE_ROOT}/pkgs/sagemath-giac
passagemath-glpk                  @ file://${SAGE_ROOT}/pkgs/sagemath-glpk
passagemath-graphs                @ file://${SAGE_ROOT}/pkgs/sagemath-graphs
passagemath-groups                @ file://${SAGE_ROOT}/pkgs/sagemath-groups
passagemath-homfly                @ file://${SAGE_ROOT}/pkgs/sagemath-homfly
passagemath-latte-4ti2            @ file://${SAGE_ROOT}/pkgs/sagemath-latte-4ti2
passagemath-lcalc                 @ file://${SAGE_ROOT}/pkgs/sagemath-lcalc
passagemath-libbraiding           @ file://${SAGE_ROOT}/pkgs/sagemath-libbraiding
passagemath-libecm                @ file://${SAGE_ROOT}/pkgs/sagemath-libecm
passagemath-linbox                @ file://${SAGE_ROOT}/pkgs/sagemath-linbox
passagemath-lrslib                @ file://${SAGE_ROOT}/pkgs/sagemath-lrslib
passagemath-macaulay2             @ file://${SAGE_ROOT}/pkgs/sagemath-macaulay2
passagemath-mcqd                  @ file://${SAGE_ROOT}/pkgs/sagemath-mcqd
passagemath-meataxe               @ file://${SAGE_ROOT}/pkgs/sagemath-meataxe
passagemath-modules               @ file://${SAGE_ROOT}/pkgs/sagemath-modules
passagemath-msolve                @ file://${SAGE_ROOT}/pkgs/sagemath-msolve
passagemath-nauty                 @ file://${SAGE_ROOT}/pkgs/sagemath-nauty
passagemath-ntl                   @ file://${SAGE_ROOT}/pkgs/sagemath-ntl
passagemath-objects               @ file://${SAGE_ROOT}/pkgs/sagemath-objects
passagemath-palp                  @ file://${SAGE_ROOT}/pkgs/sagemath-palp
passagemath-pari                  @ file://${SAGE_ROOT}/pkgs/sagemath-pari
passagemath-planarity             @ file://${SAGE_ROOT}/pkgs/sagemath-planarity
passagemath-plot                  @ file://${SAGE_ROOT}/pkgs/sagemath-plot
passagemath-polyhedra             @ file://${SAGE_ROOT}/pkgs/sagemath-polyhedra
passagemath-qepcad                @ file://${SAGE_ROOT}/pkgs/sagemath-qepcad
passagemath-rankwidth             @ file://${SAGE_ROOT}/pkgs/sagemath-rankwidth
passagemath-repl                  @ file://${SAGE_ROOT}/pkgs/sagemath-repl
passagemath-schemes               @ file://${SAGE_ROOT}/pkgs/sagemath-schemes
passagemath-singular              @ file://${SAGE_ROOT}/pkgs/sagemath-singular
passagemath-sirocco               @ file://${SAGE_ROOT}/pkgs/sagemath-sirocco
passagemath-standard              @ file://${SAGE_ROOT}/pkgs/sagemath-standard
passagemath-standard-no-symbolics @ file://${SAGE_ROOT}/pkgs/sagemath-standard-no-symbolics
passagemath-symbolics             @ file://${SAGE_ROOT}/pkgs/sagemath-symbolics
passagemath-tdlib                 @ file://${SAGE_ROOT}/pkgs/sagemath-tdlib
passagemath-topcom                @ file://${SAGE_ROOT}/pkgs/sagemath-topcom
