prune sage

include VERSION.txt

prune .tox
exclude *.m4
include requirements.txt

graft sage/symbolic
# exclude what is included in sagemath-categories
exclude sage/symbolic/symbols.p*
exclude sage/symbolic/function.p*
# exclude what is included in sagemath-singular
prune sage/symbolic/ginac
exclude sage/symbolic/expression.p*
exclude sage/symbolic/*.pxi
exclude sage/symbolic/pynac_wrap.h
# exclude what is included in sagemath-fricas
exclude sage/symbolic/expression_conversion_fricas.p*

include sage/calculus/all.p*
include sage/calculus/calculus.p*
include sage/calculus/desolvers.p*
include sage/calculus/predefined.p*
include sage/calculus/tests.p*
include sage/calculus/var.p*

graft sage/manifolds

graft sage/geometry/riemannian_manifolds
graft sage/geometry/hyperbolic_space
graft sage/dynamics/complex_dynamics

include sage/modules/vector_*symbol*.p*
include sage/matrix/matrix_symbolic_*.p*

include sage/interfaces/magma*.p*
include sage/interfaces/maple*.p*
include sage/interfaces/mathematica.p*
include sage/interfaces/mathics.p*
include sage/interfaces/sympy*.p*
include sage/interfaces/tides.p*

graft sage/ext_data/kenzo
graft sage/ext_data/magma

graft sage/rings/asymptotic
exclude sage/rings/asymptotic/misc.p*

global-exclude all__sagemath_*.py
global-include all__sagemath_symbolics.py

global-exclude *.c
global-exclude *.cpp

global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.bak
global-exclude *.so
global-exclude *~
prune .tox
prune build
prune dist
