name: Test downstream MSYS2 / mingw-w64 packages

on:
  schedule:
    - cron: '28 5 * * 1'
  push:
    branches:
      - '*windows*'
      - '*mingw*'
  workflow_dispatch:

concurrency:
  # Cancel previous runs of this workflow for the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  mingw:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os:      windows-2022
          msystem: ucrt64
          env:     ucrt-x86_64
        - os:      windows-11-arm
          msystem: clangarm64
          env:     clang-aarch64
    steps:
      - name: Check out passagemath
        uses: actions/checkout@v4

      - uses: msys2/setup-msys2@v2
        name: Setup msys2
        with:
          update: true
          install: >-
            mingw-w64-${{ matrix.env }}-python-passagemath-categories
            mingw-w64-${{ matrix.env }}-python-passagemath-cddlib
            mingw-w64-${{ matrix.env }}-python-passagemath-combinat
            mingw-w64-${{ matrix.env }}-python-passagemath-environment
            mingw-w64-${{ matrix.env }}-python-passagemath-glpk
            mingw-w64-${{ matrix.env }}-python-passagemath-graphs
            mingw-w64-${{ matrix.env }}-python-passagemath-modules
            mingw-w64-${{ matrix.env }}-python-passagemath-objects
            mingw-w64-${{ matrix.env }}-python-passagemath-repl
            mingw-w64-${{ matrix.env }}-python-passagemath-setup
          msystem: ${{ matrix.msystem }}
          path-type: inherit

      - name: Retrieve configure tarball cache
        id: cache-configure
        uses: actions/cache/restore@v4
        with:
          path: |
            build/pkgs/configure
            upstream/configure*
          key: >-
            configure-build=${{
              hashFiles('build',
                        'configure.ac',
                        'm4')
            }}

      - name: Bootstrap
        if: steps.cache-configure.outputs.cache-hit != 'true'
        # Patch python3 spkg-configure to allow Python 3.9.0 during the CIBW_BEFORE_ALL phase
        run: |
          export PATH=$(pwd)/build/bin:$PATH
          eval $(sage-print-system-package-command auto --yes update)
          eval $(sage-print-system-package-command auto --yes --no-install-recommends --spkg install _bootstrap bzip2 xz liblzma)
          ./bootstrap -s
        shell: msys2 {0}

      - name: Save configure tarball cache
        if: steps.cache-configure.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: |
            build/pkgs/configure
            upstream/configure*
          key: ${{ steps.cache-configure.outputs.cache-primary-key }}

      - uses: actions/upload-artifact@v4
        if:   always()
        with:
          name: mingw-logs-${{ matrix.os }}
          path: ./logs
