name: CI Linux

## This GitHub Actions workflow runs SAGE_ROOT/tox.ini with select environments,
## whenever a GitHub pull request is opened or synchronized in a repository
## where GitHub Actions are enabled.
##
## It builds and checks some sage spkgs as defined in TARGETS.
##
## A job succeeds if there is no error.
##
## The build is run with "make V=0", so the build logs of individual packages are suppressed.
##
## At the end, all package build logs that contain an error are printed out.
##
## After all jobs have finished (or are canceled) and a short delay,
## tar files of all logs are made available as "build artifacts".

#on: [push, pull_request]

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    # Allow to run manually

permissions:
  packages: write

jobs:

  # default platform (used by build.yml etc.)

  default:
    uses: ./.github/workflows/docker.yml
    with:
      # Build from scratch
      free_disk_space: true
      docker_targets: "with-system-packages configured with-targets-pre with-targets"
      extra_sage_packages: gdbm libxml2
      # FIXME: duplicated from env.TARGETS
      targets_pre: all-sage-local
      targets: build doc-html
      tox_system_factors: >-
        ["ubuntu-noble"]
      tox_packages_factors: >-
        ["standard"]
      docker_push_repository: ghcr.io/${{ github.repository }}/
      logs_artifact: false

  default-optional:
    if: ${{ success() || failure() }}
    needs: [default]
    uses: ./.github/workflows/docker.yml
    with:
      incremental: true
      free_disk_space: true
      from_docker_repository: ghcr.io/${{ github.repository }}/
      from_docker_target: "with-targets"
      tox_system_factors: >-
        ["ubuntu-noble"]
      tox_packages_factors: >-
        ["standard"]
      docker_targets: "with-targets-optional"
      logs_artifact_suffix: "-optional"
      extra_sage_packages: libxml2 graphviz
      # We remove packages starting with _, in particular package _develop
      targets_optional: '$(echo $(export PATH=build/bin:$PATH && sage-package list :optional: --has-file "spkg-install.in|spkg-install|requirements.txt" --no-file "huge|has_nonfree_dependencies" | grep -v sagemath_doc | grep -v ^_))'
      logs_artifact: false

  default-experimental:
    if: ${{ success() || failure() }}
    needs: [default]
    uses: ./.github/workflows/docker.yml
    with:
      incremental: true
      free_disk_space: true
      from_docker_repository: ghcr.io/${{ github.repository }}/
      from_docker_target: "with-targets"
      tox_system_factors: >-
        ["ubuntu-noble"]
      tox_packages_factors: >-
        ["standard"]
      docker_targets: "with-targets-optional"
      logs_artifact_suffix: "-experimental"
      extra_sage_packages: libxml2 graphviz
      targets_optional: '$(echo $(export PATH=build/bin:$PATH && sage-package list :experimental: --has-file "spkg-install.in|spkg-install|requirements.txt" --no-file "huge|has_nonfree_dependencies" | grep -v sagemath_doc))'
      logs_artifact: false

  # All platforms. This duplicates the default platform, but why not,
  # it makes it more robust regarding random timeouts.

  standard:
    if: ${{ success() || failure() }}
    uses: ./.github/workflows/docker.yml
    with:
      # Build from scratch
      free_disk_space: true
      docker_targets: "with-system-packages configured with-targets-pre with-targets with-targets-optional"
      extra_sage_packages: gdbm libxml2
      targets_pre: all-sage-local
      targets: build doc-html
      tox_packages_factors: >-
          ["standard"]
      docker_push_repository: ghcr.io/${{ github.repository }}/
      max_parallel: 16

  standard-test:
    if: ${{ success() || failure() }}
    needs: [standard]
    uses: ./.github/workflows/docker.yml
    with:
      incremental: true
      free_disk_space: true
      from_docker_repository: ghcr.io/${{ github.repository }}/
      from_docker_target: "with-targets"
      tox_packages_factors: >-
          ["standard"]
      docker_targets: "with-targets"
      targets: ptestlong-nodoc
      max_parallel: 16
      logs_artifact: false

  minimal:
    if: ${{ success() || failure() }}
    uses: ./.github/workflows/docker.yml
    with:
      # Build from scratch
      free_disk_space: true
      docker_targets: "with-system-packages configured with-targets-pre with-targets with-targets-optional"
      extra_sage_packages: gdbm libxml2
      targets_pre: all-sage-local
      targets: build doc-html
      tox_packages_factors: >-
          ["minimal"]
      docker_push_repository: ghcr.io/${{ github.repository }}/
      max_parallel: 16

  minimal-test:
    if: ${{ success() || failure() }}
    needs: [minimal]
    uses: ./.github/workflows/docker.yml
    with:
      incremental: true
      free_disk_space: true
      from_docker_repository: ghcr.io/${{ github.repository }}/
      from_docker_target: "with-targets"
      tox_packages_factors: >-
          ["minimal"]
      docker_targets: "with-targets"
      targets: ptestlong-nodoc
      max_parallel: 16
      logs_artifact: false

  standard-optional:
    if: ${{ success() || failure() }}
    needs: [standard]
    uses: ./.github/workflows/docker.yml
    with:
      incremental: true
      free_disk_space: true
      from_docker_repository: ghcr.io/${{ github.repository }}/
      from_docker_target: "with-targets"
      tox_packages_factors: >-
          ["standard"]
      docker_targets: "with-targets-optional"
      logs_artifact_suffix: "-optional"
      extra_sage_packages: libxml2 graphviz
      # We remove packages starting with _, in particular package _develop
      targets_optional: '$(echo $(export PATH=build/bin:$PATH && sage-package list :optional: --has-file "spkg-install.in|spkg-install|requirements.txt" --no-file "huge|has_nonfree_dependencies" | grep -v sagemath_doc | grep -v ^_))'
      max_parallel: 8

  standard-experimental:
    if: ${{ success() || failure() }}
    needs: [standard-optional]
    uses: ./.github/workflows/docker.yml
    with:
      incremental: true
      free_disk_space: true
      from_docker_repository: ghcr.io/${{ github.repository }}/
      from_docker_target: "with-targets"
      tox_packages_factors: >-
          ["standard"]
      docker_targets: "with-targets-optional"
      logs_artifact_suffix: "-experimental"
      extra_sage_packages: libxml2 graphviz
      targets_optional: '$(echo $(export PATH=build/bin:$PATH && sage-package list :experimental: --has-file "spkg-install.in|spkg-install|requirements.txt" --no-file "huge|has_nonfree_dependencies" | grep -v sagemath_doc))'
      max_parallel: 8
