name: CI MinGW

on:
  push:
    branches:
      - '*windows*'
      - '*mingw*'
    tags:
      - '*'
  workflow_dispatch:
    # Allow to run manually

concurrency:
  # Cancel previous runs of this workflow for the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  mingw-minimal:
    uses: ./.github/workflows/mingw.yml
    with:
      logs_artifact_suffix: "-minimal"
      targets: >-
        sagemath_bliss
        sagemath_categories
        sagemath_cddlib
        sagemath_cliquer
        sagemath_cmr
        sagemath_combinat
        sagemath_flint
        sagemath_glpk
        sagemath_graphs
        sagemath_homfly
        sagemath_modules
        sagemath_nauty
        sagemath_ntl
        sagemath_objects
        sagemath_planarity
        sagemath_plot
        sagemath_rankwidth
        sagemath_tdlib
      targets_optional: >-
        sagemath_bliss-check
        sagemath_categories-check
        sagemath_cddlib-check
        sagemath_cliquer-check
        sagemath_cmr-check
        sagemath_combinat-check
        sagemath_flint-check
        sagemath_glpk-check
        sagemath_graphs-check
        sagemath_homfly-check
        sagemath_modules-check
        sagemath_nauty-check
        sagemath_ntl-check
        sagemath_objects-check
        sagemath_planarity-check
        sagemath_plot-check
        sagemath_rankwidth-check
        sagemath_tdlib-check

  mingw-standard:
    uses: ./.github/workflows/mingw.yml
    with:
      logs_artifact_suffix: "-standard"
      extra_sage_packages: >-
        bliss
        bzip2
        cddlib
        cliquer
        cmr
        flex
        freetype
        glpk
        gsl
        libhomfly
        libpng
        m4ri
        mpfi
        nauty
        ntl
        planarity
        qhull
        rankwidth
        symmetrica
        tdlib
        zlib
      targets: >-
        sagemath_bliss
        sagemath_categories
        sagemath_cddlib
        sagemath_cliquer
        sagemath_cmr
        sagemath_combinat
        sagemath_flint
        sagemath_glpk
        sagemath_graphs
        sagemath_homfly
        sagemath_modules
        sagemath_nauty
        sagemath_ntl
        sagemath_objects
        sagemath_planarity
        sagemath_plot
        sagemath_rankwidth
        sagemath_tdlib
      targets_optional: >-
        sagemath_bliss-check
        sagemath_categories-check
        sagemath_cddlib-check
        sagemath_cliquer-check
        sagemath_cmr-check
        sagemath_combinat-check
        sagemath_flint-check
        sagemath_glpk-check
        sagemath_graphs-check
        sagemath_homfly-check
        sagemath_modules-check
        sagemath_nauty-check
        sagemath_ntl-check
        sagemath_objects-check
        sagemath_planarity-check
        sagemath_plot-check
        sagemath_rankwidth-check
        sagemath_tdlib-check

  mingw-standard-sitepackages:
    uses: ./.github/workflows/mingw.yml
    with:
      logs_artifact_suffix: "-standard-sitepackages"
      extra_configure_args: >-
        --enable-system-site-packages
      extra_sage_packages: >-
        bliss
        bzip2
        cddlib
        cliquer
        cmr
        flex
        freetype
        glpk
        gsl
        libhomfly
        libpng
        m4ri
        mpfi
        nauty
        ntl
        planarity
        qhull
        rankwidth
        symmetrica
        tdlib
        zlib
        calver
        cysignals
        cython
        editables
        flit_core
        gmpy2
        hatchling
        jinja2
        markupsafe
        matplotlib
        memory_allocator
        meson_python
        mpmath
        numpy
        pathspec
        pillow
        pkgconfig
        python_build
        scipy
        setuptools
        trove_classifiers
      targets: >-
        sagemath_bliss
        sagemath_categories
        sagemath_cddlib
        sagemath_cliquer
        sagemath_cmr
        sagemath_combinat
        sagemath_flint
        sagemath_glpk
        sagemath_graphs
        sagemath_homfly
        sagemath_modules
        sagemath_nauty
        sagemath_ntl
        sagemath_objects
        sagemath_planarity
        sagemath_plot
        sagemath_rankwidth
        sagemath_tdlib
      targets_optional: >-
        sagemath_bliss-check
        sagemath_categories-check
        sagemath_cddlib-check
        sagemath_cliquer-check
        sagemath_cmr-check
        sagemath_combinat-check
        sagemath_flint-check
        sagemath_glpk-check
        sagemath_graphs-check
        sagemath_homfly-check
        sagemath_modules-check
        sagemath_nauty-check
        sagemath_ntl-check
        sagemath_objects-check
        sagemath_planarity-check
        sagemath_plot-check
        sagemath_rankwidth-check
        sagemath_tdlib-check
