name: Reusable workflow for MinGW portability CI

on:
  workflow_call:
    inputs:
      targets_pre:
        default: build/make/Makefile
        type: string
      targets:
        default: build/make/Makefile
        type: string
      targets_optional:
        default: build/make/Makefile
        type: string
      extra_sage_packages:
        description: 'Extra Sage packages to install as system packages'
        type: string
        default: ""
      extra_configure_args:
        type: string
        default: ""
      logs_artifact:
        default: true
        type: boolean
      logs_artifact_suffix:
        required: false
        type: string
      merge_ci_fixes:
        default: false
        type: boolean
      #
      # For use in upstream CIs.
      #
      upstream_artifact:
        required: false
        type: string
      sage_repo:
        required: false
        type: string
      sage_ref:
        required: false
        type: string

jobs:
  local-mingw:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os:      windows-2022
          msystem: ucrt64
          env:     ucrt-x86_64
        - os:      windows-11-arm
          msystem: clangarm64
          env:     clang-aarch64
    steps:
      - name: Check out SageMath
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.sage_repo }}
          ref: ${{ inputs.sage_ref }}
          fetch-depth: 10000

      - uses: msys2/setup-msys2@v2
        name: Setup msys2
        with:
          update: true
          install: >-
            mingw-w64-${{ matrix.env }}-gcc
            ${{ !contains(matrix.env, 'clang') && format('mingw-w64-{0}-gcc-fortran', matrix.env) || format('mingw-w64-{0}-fc', matrix.env) }}
            autotools
            python
            mingw-w64-${{ matrix.env }}-python
            mingw-w64-${{ matrix.env }}-python-pip
            mingw-w64-${{ matrix.env }}-python-setuptools
            mingw-w64-${{ matrix.env }}-python-tox
            patch
            mingw-w64-${{ matrix.env }}-cmake
            mingw-w64-${{ matrix.env }}-ninja
            mingw-w64-${{ matrix.env }}-gtest
            ${{ contains(inputs.extra_sage_packages, 'flex')              && 'flex' || '' }}
            ${{ contains(inputs.extra_sage_packages, 'bliss')             && format('mingw-w64-{0}-bliss',                    matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'bzip2')             && format('mingw-w64-{0}-bzip2',                    matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'cddlib')            && format('mingw-w64-{0}-cddlib',                   matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'cliquer')           && format('mingw-w64-{0}-cliquer',                  matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'cmr')               && format('mingw-w64-{0}-cmr',                      matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'flint')             && format('mingw-w64-{0}-flint',                    matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'freetype')          && format('mingw-w64-{0}-freetype',                 matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'glpk')              && format('mingw-w64-{0}-glpk',                     matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'gsl')               && format('mingw-w64-{0}-gsl',                      matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'iml')               && format('mingw-w64-{0}-iml',                      matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'libbraiding')       && format('mingw-w64-{0}-libbraiding',              matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'libhomfly')         && format('mingw-w64-{0}-libhomfly',                matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'libjpeg')           && format('mingw-w64-{0}-libjpeg-turbo',            matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'libpng')            && format('mingw-w64-{0}-libpng',                   matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'm4ri')              && format('mingw-w64-{0}-m4ri',                     matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'm4rie')             && format('mingw-w64-{0}-m4rie',                    matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'mpfi')              && format('mingw-w64-{0}-mpfi',                     matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'nauty')             && format('mingw-w64-{0}-nauty',                    matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'ntl')               && format('mingw-w64-{0}-ntl',                      matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'planarity')         && format('mingw-w64-{0}-planarity',                matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'ppl')               && format('mingw-w64-{0}-ppl',                      matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'qhull')             && format('mingw-w64-{0}-qhull',                    matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'rankwidth')         && format('mingw-w64-{0}-rankwidth',                matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'sirocco')           && format('mingw-w64-{0}-sirocco',                  matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'symmetrica')        && format('mingw-w64-{0}-symmetrica',               matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'tdlib')             && format('mingw-w64-{0}-treedec',                  matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'zlib')              && format('mingw-w64-{0}-zlib',                     matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'calver')            && format('mingw-w64-{0}-python-calver',            matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'cysignals')         && format('mingw-w64-{0}-python-cysignals',         matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'cython')            && format('mingw-w64-{0}-cython',                   matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'editables')         && format('mingw-w64-{0}-python-editables',         matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'flit_core')         && format('mingw-w64-{0}-python-flit-core',         matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'gmpy2')             && format('mingw-w64-{0}-python-gmpy2',             matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'hatchling')         && format('mingw-w64-{0}-python-hatchling',         matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'jinja2')            && format('mingw-w64-{0}-python-jinja',             matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'markupsafe')        && format('mingw-w64-{0}-python-markupsafe',        matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'matplotlib')        && format('mingw-w64-{0}-python-matplotlib',        matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'memory_allocator')  && format('mingw-w64-{0}-python-memory-allocator',  matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'meson')             && format('mingw-w64-{0}-meson',                    matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'meson_python')      && format('mingw-w64-{0}-meson-python',             matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'mpmath')            && format('mingw-w64-{0}-python-mpmath',            matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'numpy')             && format('mingw-w64-{0}-python-numpy',             matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'pathspec')          && format('mingw-w64-{0}-python-pathspec',          matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'pillow')            && format('mingw-w64-{0}-python-pillow',            matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'pkgconfig')         && format('mingw-w64-{0}-python-pkgconfig',         matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'pplpy')             && format('mingw-w64-{0}-python-passagemath-ppl',   matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'python_build')      && format('mingw-w64-{0}-python-build',             matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'scipy')             && format('mingw-w64-{0}-python-scipy',             matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'setuptools')        && format('mingw-w64-{0}-python-setuptools',        matrix.env) || '' }}
            ${{ contains(inputs.extra_sage_packages, 'trove_classifiers') && format('mingw-w64-{0}-python-trove-classifiers', matrix.env) || '' }}
          msystem: ${{ matrix.msystem }}

      - name: Download upstream artifact
        uses: actions/download-artifact@v4
        with:
          path: upstream
          name: ${{ inputs.upstream_artifact }}
        if: inputs.upstream_artifact

      - name: Update Sage packages from upstream artifact
        run: |
          (export PATH=$(pwd)/build/bin:$PATH; (cd upstream && bash -x update-pkgs.sh) && git diff)
        shell: msys2 {0}
        if: inputs.upstream_artifact

      - name: Merge CI fixes from sagemath/sage
        if: inputs.merge_ci_fixes
        run: |
          .ci/merge-fixes.sh
        shell: msys2 {0}
        env:
          GH_TOKEN: ${{ github.token }}
          SAGE_CI_FIXES_FROM_REPOSITORIES: ${{ vars.SAGE_CI_FIXES_FROM_REPOSITORIES }}

      - name: Retrieve configure tarball cache
        id: cache-configure
        uses: actions/cache/restore@v4
        with:
          path: |
            build/pkgs/configure
            upstream/configure*
          key: >-
            configure-build=${{
              hashFiles('build',
                        'configure.ac',
                        'm4')
            }}

      - name: Bootstrap
        if: steps.cache-configure.outputs.cache-hit != 'true'
        # Patch python3 spkg-configure to allow Python 3.9.0 during the CIBW_BEFORE_ALL phase
        run: |
          export PATH=$(pwd)/build/bin:$PATH
          eval $(sage-print-system-package-command auto --yes update)
          eval $(sage-print-system-package-command auto --yes --no-install-recommends --spkg install _bootstrap bzip2 xz liblzma)
          ./bootstrap -s
        shell: msys2 {0}

      - name: Save configure tarball cache
        if: steps.cache-configure.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: |
            build/pkgs/configure
            upstream/configure*
          key: ${{ steps.cache-configure.outputs.cache-primary-key }}

      - name: Retrieve SAGE_LOCAL cache
        id:   cache-sage-local
        uses: actions/cache/restore@v4
        with:
          path: |
            config.status
            sage-local
          key: >-
            ${{ runner.os }}-cibuildwheel-${{ matrix.arch }}-build=${{
              hashFiles('build',
                        'configure.ac',
                        'm4')
            }}
          restore-keys: |
            ${{ runner.os }}-cibuildwheel-${{ matrix.arch }}

      - name: Build and test
        run: |
          export MSYS=winsymlinks:nativestrict
          if [ ! -x ./configure ]; then ./bootstrap -D; fi
          touch configure
          PREFIX=$(pwd)/sage-local
          if [ -x ./config.status ]; then
              ./config.status
          else
              rm -f config.log
              mkdir -p logs/pkgs
              touch logs/pkgs/config.log
              ln -s logs/pkgs/config.log config.log
              ./configure --enable-build-as-root --prefix=$PREFIX --with-sage-venv --with-system-python3=force --disable-python-distutils-check ${{ inputs.extra_configure_args }}
          fi
          export TARGETS_PRE="${{ inputs.targets_pre }}" TARGETS="${{ inputs.targets }}" TARGETS_OPTIONAL="${{ inputs.targets_optional }}"
          export VIRTUALENV_SYSTEM_SITE_PACKAGES=1
          ${{ contains(matrix.env, 'clang') && 'export FC=flang' || '' }}
          # Avoid problems with long paths: https://github.com/msys2/MINGW-packages/issues/24738#issuecomment-3707521272
          export SAGE_BUILD_DIR="C:/sage-build"
          MAKE="make -j6" make -k V=0 $TARGETS_PRE $TARGETS $TARGETS_OPTIONAL
        shell: msys2 {0}

      - name: Upload logs artifact
        uses: actions/upload-artifact@v4
        if:   always() && inputs.logs_artifact
        with:
          name: mingw-logs-${{ matrix.os }}${{ inputs.logs_artifact_suffix }}
          path: ./logs

      - name: Upload SAGE_LOCAL artifact
        uses: actions/upload-artifact@v4
        if:   always() && inputs.logs_artifact
        with:
          name: mingw-sage-local-${{ matrix.os }}${{ inputs.logs_artifact_suffix }}
          path: ./sage-local
